<md-dialog ng-controller="loginController">
  <md-dialog-content layout-padding>

      <div layout="row" layout-aligh="center center" flex class="smallHeader">
        <span flex></span>
        <h2>Login</h2>
        <span flex></span>

        <md-button class="md-icon-button close" aria-label="{{ 'header_close' | translate }}" ng-click="loginDialogCancel()">
          <md-icon md-svg-icon="images/icons/close.svg" class="s36"></md-icon>
        </md-button>
      </div>

      <form novalidate name="loginForm">

        <md-input-container>
          <label for="testInput">{{ 'header_login_email' | translate }}</label>
          <input type="email" id="testInput" name="loginEmail" ng-model="user.email">
          <div ng-messages="loginForm.loginEmail.$error">
            <div ng-message="notFound">{{ login_error }}</div>
            <div ng-message="notSet">{{ login_error }}</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label for="password">{{ 'header_login_password' | translate }}</label>
          <input type="password" name="loginPassword" id="password" ng-model="user.password">
          <div ng-messages="loginForm.loginPassword.$error">
            <div ng-message="wrong">{{ login_error }}</div>
          </div>
        </md-input-container>

        <div layout="row" flex layout-align="end end" ng-show="location.url() === '/'" >
          <a ng-click="forgotPassword()" class="forgotPassword">{{ 'header_forgotPassword' | translate }}</a>
        </div>

        <div class="md-actions" layout="row" flex>
          
          <md-button type="button" ng-click="loginDialogRegister()" class="md-raised">{{ 'header_register' | translate }}</md-button>

          <md-button type="submit" ng-click="loginDialogSubmit()" class="md-raised md-primary">{{ 'header_login' | translate }}</md-button>
        
        </div>

      </form>
    </md-dialog-content>

</md-dialog>
