<div id="preDiag" ng-show="isPreDiag" class="partialContent makeSpaceForFixedFooter" flex  >
	<md-card>
		<md-card-content>
			<p ng-show="loggedIn">{{ 'preDiag_intro' | translate }}</p>
			<p ng-show="!loggedIn">{{ 'preDiag_pleaseGiveSomeInfo' | translate }}
			</p>
		</md-card-content>
	</md-card>

	<md-card>
		<md-card-content>

			<div ng-show="loggedIn">
				<div class="profile-subtitle">{{ 'preDiag_forMeOrNot' | translate }}</div>

				<div layout="row" class="profile-row" layout-sm="column">
					<md-button flex-gt-sm class="md-raised" ng-click="changeCurrentUser(true); checkValidity();" ng-class="{'md-primary': forCurrentUser}">
						{{ 'preDiag_forMe' | translate }}
					</md-button>

					<md-button flex-gt-sm class="md-raised" ng-click="changeCurrentUser(false); checkValidity();" ng-class="{'md-primary': !forCurrentUser }">
						{{ 'preDiag_notForMe' | translate }}
					</md-button>
				</div>
			</div>



			<div>

				<div flex layout="column">
					<md-input-container ng-show="loggedIn">
						<label for="name">{{ 'reg_name' | translate }}:</label>
						<input ng-model="user.name" id="name" ng-blur="checkValidity()">
					</md-input-container>

					<div class="profile-subtitle">{{ 'reg_sex' | translate }}:</div>

					<div layout="row" class="profile-row" layout-sm="column">
						<md-button id="gender-button-male" flex-gt-sm class="md-raised registration-button" ng-click="setGender(0); checkValidity();" ng-class="{'md-primary': user.gender == 0}">
							<md-icon md-svg-icon="images/icons/gender-male.svg"></md-icon>
							<span>{{ 'reg_sex_male' | translate }}</span>
						</md-button>

						<md-button id="gender-button-female" flex-gt-sm class="md-raised registration-button" ng-click="setGender(1); checkValidity();" ng-class="{'md-primary': user.gender == 1}">
							<md-icon md-svg-icon="images/icons/gender-female.svg"></md-icon>
							<span>{{ 'reg_sex_female' | translate }}</span>
						</md-button>
					</div>

					<div class="profile-subtitle">{{ 'reg_ageRange' | translate }}:</div>

					<md-select placeholder="{{ 'reg_defaultValueSelect' | translate }}" ng-model="user.age_category" class="age-category" ng-change="checkValidity();">
						<md-option
							ng-repeat="AR in ageRanges"
							value="{{AR.id}}">
							{{AR.start}} - {{AR.end}} {{ 'common_years' | translate }}
						</md-option>
					</md-select>
				</div>

				<div flex layout="column">
					<div class="profile-subtitle" >{{ 'reg_language' | translate }}:</div>

					<div layout="row" layout-align="start center" class="profile-row">
						<md-button
							ng-repeat="language in languages"
							id="language-button-{{language.locale}}"
							class="md-icon-button"
							aria-label="{{language.nativeName}}"
							ng-click="changeLanguage( language.locale )"
							ng-class="{'md-primary md-raised': user.lang ==  language.locale }">
							<md-icon md-svg-icon="images/icons/{{ language.locale }}.svg" class="s36"></md-icon>
						</md-button>
					</div>
				</div>

			</div>
			 
		</md-card-content>
	</md-card>
</div>


<div ng-hide="isPreDiag" layout="column" flex class="makeSpaceForFixedFooter">
	
	<md-card class="currentQuestion">
		<md-card-content>
			<div ng-hide="loading || hidden">
				<h3><span>{{currentQuestion.description}}</span></h3>
			</div>
		</md-card-content>
	</md-card>

	<md-list id="answeredQuestions" class="partialContent" flex ng-hide="answeredQuestions.length === 0">
		<md-list-item class="answeredQuestion" ng-repeat="question in answeredQuestions | reverse" ng-click="reviseQuestion(question, $event)">
			<h3 flex>{{question.question.description}}</h3>

			<div ng-show="question.answer.id === 0">
				<md-icon md-svg-icon="images/icons/yes.svg" class="s36 md-accent"></md-icon>
			</div>
			<div ng-show="question.answer.id === 1">
				<md-icon md-svg-icon="images/icons/no.svg" class="s36 md-warn"></md-icon>
			</div>
			<div ng-show="question.answer.id > 1">
				<md-icon md-svg-icon="images/icons/dontknow.svg" class="s36 md-primary"></md-icon>
			</div>

		</md-list-item>
	</md-list>

	<md-card id="miniTut" ng-show="answeredQuestions.length === 0" class="partialContent" flex>
		<md-card-content class="smallHeader">
			
			<h2>{{ 'run_tut_title' | translate }}</h2>
			<p>{{ 'run_tut_QandA' | translate }}</p>

			<div layout="row" layout-align="center center">
				<div class="miniTutHelper yes"   flex="25">{{ 'common_yes' | translate }}</div>
				<div class="miniTutHelper dunno" flex="25">{{ 'common_dontKnow' | translate }}</div>
				<div class="miniTutHelper no"    flex="25">{{ 'common_no' | translate }}</div>
			</div>

			<p>{{ 'run_tut_alreadyAnswered' | translate }}</p>
			<p>{{ 'run_tut_answerToStart' | translate }}</p>

		</md-card-content>
	</md-card>

</div>

<div class="fixedFooter">
	<div>
		<md-card ng-hide="isPreDiag" class="currentQuestion">
			<md-card-content>
				<div ng-show="loading" layout-align="center center" layout="row">
					<md-progress-circular md-mode="indeterminate" ng-show="loading"></md-progress-circular>
				</div>
		
				<div ng-hide="loading || hidden">
					<div layout="row" layout-align="center center">
						<md-button
							flex="{{100/(currentQuestion.answers.length+1)}}"
							class="md-raised answer-button"
							ng-class="answer.style"
							ng-click="answerQuestion(answer)"
							ng-repeat="answer in currentQuestion.answers"
							aria-label="{{answer.desc}}">

							<div ng-show="answer.id === 0">
								<md-icon md-svg-icon="images/icons/yes.svg" class="s36 md-accent"></md-icon>
							</div>
							<div ng-show="answer.id === 1">
								<md-icon md-svg-icon="images/icons/no.svg" class="s36 md-warn"></md-icon>
							</div>
							<div ng-show="answer.id > 1">
								<md-icon md-svg-icon="images/icons/dontknow.svg" class="s36 md-primary"></md-icon>
							</div>
						</md-button>
					</div>
				</div>

			</md-card-content>
		</md-card>

		<md-card ng-show="isPreDiag">
			<md-card-content>
				<div layout="row" layout-align="center center">
					<md-button flex class="md-raised md-primary" ng-click="confirmPreDiag()" ng-disabled="dataInvalid">
						{{ 'preDiag_startDiag' | translate }}
					</md-button>
				</div>
			</md-card-content>
		</md-card>

	</div>
</div>
