<div flex class="partialContent makeSpaceForFixedFooter">
	<div layout-padding layout="column" class="splashContent" flex>
		<div layout="row">
			<img id="logo" ng-class="{'smaller' : loggedIn }" src="images/PocketDocMaskottchen.jpg">
		</div>
		<div ng-hide="loggedIn" flex>
			<h2>{{ 'main_welcome' | translate }}</h2>
			<h3>{{ 'main_intro_salutation' | translate }}</h3>
			<p>{{ 'main_intro_short' | translate }}</p>
			
			<h3>{{ 'main_intro_tutorial_header' | translate }}</h3>
			<p>{{ 'main_intro_tutorial' | translate }}</p>
			
			<h3>{{ 'main_intro_tryNow' | translate }}</h3>
		</div>

		<div layout="column" ng-show="loggedIn" flex>
			<h2 class="centerText">{{ 'main_welcomeBack' | translate }}<span ng-hide="isEmpty(userName)">, {{userName}}.</span></h2>
			
			<section layout="column" ng-hide="followUps.length == 0">
				<md-subheader class="md-no-sticky md-primary">{{ 'main_followUp_open' | translate }}</md-subheader>
				<md-list layout="column" layout-padding id="followUpList" class="">
					<md-list-item class="followUp" ng-repeat="followup in followUps" md-swipe-left="deleteFollowUp( followup, event)" ng-class="{'newly-added' : followup.newest}" layout="row">

						<div flex class="md-list-item-text followUpDesc" ng-class="{'notReady': !isFollowUpReady( followup.timeAdded ) }" layout="column">
							<p>
								<span ng-show="isFollowUpReady( followup.timeAdded)">{{ followup.timeAdded | date:'dd.MM.yyyy HH:mm' }}</span>
								<span ng-show="!isFollowUpReady( followup.timeAdded)">{{ 'main_followUp_remaining' | translate }} {{ getRemainingTime( followup.timeAdded ) | date:'HH:mm:ss' }}</span>
							</p>
							<h4><span hide-sm>{{ 'main_followUp_diag' | translate }}: </span>{{ getDiagnosis( followup ) }}</h4>
						</div>

						<md-button class="md-icon-button" ng-click="deleteFollowUp(followup, $event)" aria-label="{{ 'main_followUp_delete' | translate }}">
							<md-icon class="s36 faintIcon" md-svg-src="images/icons/delete.svg"></md-icon>
						</md-button>
		
						<md-button class="md-icon-button" ng-click="startFollowUp(followup, $event)" aria-label="{{ 'main_followUp_start' | translate }}">
							<md-icon class="s36" md-svg-src="images/icons/play.svg"></md-icon>
						</md-button>
					</md-list-item>
				</md-list>
			</section>
		</div>
	</div>
</div>
<div class="fixedFooter">
	<md-card>
		<md-card-content>
			<div id="mainRun" layout="row" layout-align="end center" flex>
				
				<div hide-gt-sm class="md-primary startDiagNowBtn" flex ng-click="run()">{{ 'main_startDiagnosis' | translate }}</div>
				<md-button hide-sm class="md-primary" ng-click="run()">{{ 'main_startDiagnosis' | translate }}</md-button>
				
				<md-button class="md-fab md-primary" ng-click="run()" aria-label="{{ 'main_startDiagnosis' | translate }}">
					<md-icon md-svg-src="images/icons/play.svg" style="color: white;"></md-icon>
				</md-button>
			</div>
		</md-card-content>
	</md-card>
</div>