/* fixed header */
#header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 10;
}

#logo {
	height: 250px;
	width:	250px;
	margin:	auto;
}
#logo.smaller{
	height: 150px;
	width: 150px;
}

#logo.mini{
	height: 50px;
	width: 50px;
}

.white md-icon.md-default-theme {
	color: white;
}

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
  margin: auto;
}

md-list {
	padding : 0;
}

.answer-button {
	margin: 3px;
}

html {
	background-color: white;
}

#app, #mainRun {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}
#app {
	margin-top: 64px;
}

.md-icon-button .s36 {
	width: 36px;
	height: 36px;
}

.md-icon-button .faintIcon {
	opacity: 0.8;
}

h1{
	text-align: center;
}

.profile-title{
	border-bottom: 1px solid;
	padding-left: 0 !important;
}
.profile-subtitle{
	padding-left: 0;
}

.profile-row{
	margin: 1em 0;
}

.age-category{
	margin-top: 1em;
}

.language-selected {
	border: 1px solid rgb(63,81,181);
}

#answeredQuestions .answeredQuestion button h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 5px;
}
.answeredQuestion {
  color: #939393;
}
#answeredQuestions button {
	line-height: 1em;
}

.followUp {
	margin: 10px 0;
	border-bottom: 1px solid #DDD;
}

.followUpDesc p,
.followUpDesc h4 {
	padding: 0;
	margin: 0;
}

.notReady {
	color: rgb(210, 210, 210);
}

.partialContent{
	overflow: auto;
}

.diagnosisDescription{
	margin: 0;
}

.diagnosisQuestion{
	margin: 8px 0 0 0;
}

.forgotPassword {
	text-decoration: underline;
	font-size: 0.75em;
	cursor: pointer;
	cursor: hand;
}

.additionalActions {
	position: fixed;
	bottom: 5px;
	right: 5px;
	left: 5px;
}

md-dialog-container,
md-backdrop,
md-sidenav {
	position: fixed;
	top: 0px !important;
}

.smallHeader h2 {
	margin: 2px;
	line-height: 18px;
	font-size: 18px;
}

.smallHeader .close {
	position: absolute;
	top: 3px;
	right: 3px;
}

@media all and (max-height: 500px) {
    .smallHeader {
        display:none;
    }
}

.newly-added {
	-webkit-animation: flyin 1.2s ease forwards; /* Safari 4+ */
	-moz-animation:    flyin 1.2s ease forwards; /* Fx 5+ */
	-o-animation:      flyin 1.2s ease forwards; /* Opera 12+ */
	animation:         flyin 1.2s ease forwards; /* IE 10+, Fx 29+ */
}

@keyframes flyin {
	from {
		-webkit-transform: scale(2);
			-ms-transform: scale(2);
				transform: scale(2);

		opacity: 0;

		-webkit-filter: blur(4px);
				filter: blur(4px);
	}
	to { 
		-webkit-filter: blur(0);
				filter: blur(0);
		-webkit-transform: scale(1);
			-ms-transform: scale(1);
				transform: scale(1);
		opacity: 1;
	}
}

.acceptTermsCheckbox.md-warn {
	color: rgb(244,67,54);
}

#miniTut {
	opacity: 0.6;
}

.miniTutHelper {
	text-align: center;
	margin: 3px;
	background-color: #DADADA;
	border-radius: 2px;
	padding: 3px 0px;
}
.miniTutHelper.yes { background-color: rgb(105,240,174);}
.miniTutHelper.dunno {background-color: rgb(63,81,181);}
.miniTutHelper.no {background-color: rgb(244,67,54);}

.startDiagNowBtn {
	color: rgb(63,81,181);
	text-transform: uppercase;
	cursor: pointer;
	text-align: right;
}

.centerText {
	text-align: center;
}

.termsDialog{
	overflow: auto;
}

.termsTitle{
	word-wrap: break-word;
}

.splashContent{
	padding: 8px;
}

.currentQuestion{
	background-color: #DDF !important;
}

.currentQuestion h3 {
	margin: 0;
}

.fixedFooter {
	position: fixed;
	bottom: 0px;
	width: 100%;
	background-color: white;
	z-index: 10;
	max-width: 960px;
}
.makeSpaceForFixedFooter {
	margin-bottom: 100px;
}
.makeSpaceForFixedFooter.big {
	margin-bottom: 128px;
}

@media (max-width: 599px) {
	.makeSpaceForFixedFooter.big {
		margin-bottom: 176px;
	}	
}

md-card md-card-content{
	padding: 8px;
}