<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- <property name="connection.url"><![CDATA[jdbc:postgresql://ec2-79-125-21-70.eu-west-1.compute.amazonaws.com:5432/d3sd306179mt7j?user=zcdhqlrumnxkeo&amp;password=vFddXxjvToPRJwSesubS3Mux4U]]></property>-->
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/pocketdoc</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">password</property>
        <property name="connection.useUnicode">yes</property>
        <property name="connection.characterEncoding">UTF-8</property>

        <property name="show_sql">true</property>

        <!-- Pure Models -->

        <mapping class="models.User"></mapping>
        <mapping class="models.Setting"></mapping>
        <mapping class="models.History"></mapping>
        <mapping class="models.Language"></mapping>
        <mapping class="models.Diagnosis"></mapping>
        <mapping class="models.Question"></mapping>
        <mapping class="models.ActionSuggestion"></mapping>
        <mapping class="models.Syndrom"></mapping>
        <mapping class="models.Answer"></mapping>

        <!-- Intermediate Classes for Descriptions -->

        <mapping class="models.intermediateClassModels.DiagnosisDescription"></mapping>
        <mapping class="models.intermediateClassModels.QuestionDescription"></mapping>
        <mapping class="models.intermediateClassModels.ActionSuggestionDescription"></mapping>


        <!-- Intermediate Classes for Score Distribution -->

        <mapping class="models.intermediateClassModels.SyndromToActionSuggestionScoreDistribution"></mapping>
        <mapping class="models.intermediateClassModels.AnswerToActionSuggestionScoreDistribution"></mapping>
        <mapping class="models.intermediateClassModels.AnswerToDiagnosisScoreDistribution"></mapping>




        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->


    </session-factory>
</hibernate-configuration>