<div ng-controller="ListCtrl" layout="column">
	<md-content>
		<md-list>
			<md-item ng-repeat="item in done">
				<md-item-content>
					<md-card layout="row" layout-align="center center" flex>
						<div class="md-tile-left">
							<md-icon md-svg-src="images/{{item.answer}}.svg" class="answer-{{item.answer}}"></md-icon>
						</div>
						<div class="md-tile-content" layout="column">
							<h3>{{item.question}}</h3>
							<h4>{{item.answer}}</h4>
						</div>
					</md-card>
				</md-item-content>
			</md-item>
		</md-list>
	</md-content>
</div>


