/* app css stylesheet */

img.status {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px;
}

#app .start #logo {
  width: 250px;
  height: 250px;
  margin: auto;
}
#app .run {
  width: 100%;
}
#app {
  width: 100%;
  margin: 10px;
  position: relative;
}

#container {
  max-width: 800px;
  margin: auto;
  min-height: 100%;
}

button.materialButton {
  position: absolute;
  bottom: 20px;
  right: 20px;
}