<div class="start ng-scope" layout-align="center">
	<div id="partialContent">
		<md-content layout-padding>
			<md-card>
				<md-card-content>
					<h3>{{ 'main_intro_salutation' | translate }}</h3>
					<p>{{ 'main_intro_short' | translate }}</p>
				</md-card-content>
			</md-card>

			<md-card>
				<md-card-content>
					<h3>{{ 'main_intro_tutorial_header' | translate }}</h3>
					<p>{{ 'main_intro_tutorial' | translate }}</p>
				</md-card-content>
			</md-card>
		</md-content>
	</div>
</div>
