<md-dialog aria-label="{{ 'forgotPassword_title' | translate }}">
  <md-dialog-content layout-padding>
    <h2>{{ 'forgotPassword_title' | translate }}</h2>
    <form novalidate>
        <md-input-container>
            <label for="testInput">{{ 'header_login_email' | translate }}</label>
            <input type="text" id="testInput">
        </md-input-container>
    </form>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <md-button ng-click="cancel()" class="md-primary">{{ 'common_cancel' | translate }}</md-button>
    <md-button ng-click="accept()" class="md-primary">{{ 'forgotPassword_send' | translate }}</md-button>
  </div>
</md-dialog>