<md-dialog aria-label="{{ 'forgotPassword_title' | translate }}">
  <md-dialog-content layout-padding>
    <h2>{{ 'forgotPassword_title' | translate }}</h2>
    <div ng-hide="isSent">
        <form novalidate name="forgotForm">
            <md-input-container>
                <label for="testInput">{{ 'header_login_email' | translate }}</label>
                <input type="email" id="testInput" name="forgotEmail" ng-model="email">
                <div ng-messages="forgotForm.forgotEmail.$error">
                    <div ng-message="notFound">{{ 'address_not_found' | translate }}</div>
                    <div ng-message="notSent">{{ 'mail_not_sent' | translate }}</div>
                </div>
            </md-input-container>
        </form>
    </div>
    <div ng-show="isSent">
        <p class="diagnosisQuestion">{{ 'mail_sent' | translate }}</p>
    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
      <div ng-hide="isSent">
          <md-button ng-click="cancel()" class="md-primary">{{ 'common_cancel' | translate }}</md-button>
          <md-button ng-click="accept()" class="md-primary">{{ 'forgotPassword_send' | translate }}</md-button>
      </div>
      <div ng-show="isSent">
          <md-button ng-click="cancel()" class="md-primary">{{ 'common_close' | translate }}</md-button>
      </div>
  </div>
</md-dialog>