<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="pocketDocApp">
<head>

	<title>PocketDoc</title>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="css/angular-table.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>
<body ng-controller="loginController">
    <div id="mainNav">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">PocketDoc</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav" ng-show="user.isLogged">
                        <li><a href="#">Diagnosen<span class="sr-only">Link zu den Diagnosen</span></a></li>
                        <li><a href="/#/action_suggestions">Handlungsempfehlungen</a></li>
                        <li><a href="/#/questions">Fragen/Antworten</a></li>
                        <li><a href="/#/syndroms">Syndrome</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-show="user.isLogged"><a href="/#/run" class="test-link glyphicon glyphicon-play-circle"></a></li>
                        <li ng-show="user.isLogged"><a href="/#/settings" class="setting-link glyphicon glyphicon-cog"></a></li>
                        <li ng-show="user.isLogged"><button class="btn navbar-btn btn-primary" type="submit" ng-click="logout()">Abmelden</button></li>

                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
    <ng-view ng-show="user.isLogged" id="mainContent"></ng-view>
    <div ng-show="!user.isLogged" id="loginContent">
        <div id="content">
            <div style="flex: 1;"></div>
            <form class="form-signin" role="form" style="flex: 2;">
                <h2 class="form-signin-heading">Please sign in</h2>
                <label for="inputName" class="sr-only">User</label>
                <input type="user" ng-model="user.email" id="inputName" class="form-control" placeholder="User" required autofocus>
                <label for="inputPassword" class="sr-only">Passwort</label>
                <input type="password" ng-model="user.password" id="inputPassword" class="form-control" placeholder="Password" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()">Anmelden</button>
            </form>
            <div style="flex: 1;"></div>
        </div>
    </div>



    <script type="text/javascript" src="js/jquery.js" ></script>
    <script type="text/javascript" src="js/bootstrap.js" ></script>
    <script type="text/javascript" src="js/angular/angular.min.js"></script>
    <script type="text/javascript" src="js/angular/angular-route.min.js"></script>
    <script type="text/javascript" src="js/angular/angular-resource.min.js"></script>
    <script type="text/javascript" src="js/angular/angular-cookies.min.js"></script>
    <script type="text/javascript" src="js/angular/angular-table.js"></script>
    <script type="text/javascript" src="js/angular/angular-table-export.js"></script>
    <!-- controllers,services,directives go here -->
    <script type="text/javascript" src="js/myApp.js" ></script>
    <script type="text/javascript" src="js/factories/questionFactory.js"></script>
    <script type="text/javascript" src="js/factories/actionSuggestionFactory.js"></script>
    <script type="text/javascript" src="js/factories/diagnosisFactory.js"></script>
    <script type="text/javascript" src="js/factories/actionSuggestionFactory.js"></script>
    <script type="text/javascript" src="js/factories/syndromFactory.js"></script>
    <script type="text/javascript" src="js/factories/perfectDiagnosisFactory.js"></script>
	<script type="text/javascript" src="js/factories/nextQuestionFactory.js"></script>
	<script type="text/javascript" src="js/factories/settingFactory.js"></script>
    <script type="text/javascript" src="js/factories/testRunFactory.js"></script>
    <script type="text/javascript" src="js/factories/runFactory.js"></script>
	<script type="text/javascript" src="js/factories/intermediateClassFactories/actionSuggestionDescriptionFactory.js"></script>
    <script type="text/javascript" src="js/factories/intermediateClassFactories/diagnosisDescriptionFactory.js"></script>
    <script type="text/javascript" src="js/factories/intermediateClassFactories/diagnosisDesignationFactory.js"></script>
	<script type="text/javascript" src="js/factories/intermediateClassFactories/questionDescriptionFactory.js"></script>
    <script type="text/javascript" src="js/factories/intermediateClassFactories/answerToActionSuggestionScoreDistributionFactory.js"></script>
    <script type="text/javascript" src="js/factories/intermediateClassFactories/syndromToActionSuggestionScoreDistributionFactory.js"></script>
	<script type="text/javascript" src="js/factories/intermediateClassFactories/answerToDiagnosisScoreDistributionFactory.js"></script>
    <script type="text/javascript" src="js/directives/noReloadDirective.js"></script>
    <script type="text/javascript" src="js/directives/contentEditableDirective.js"></script>
    <script type="text/javascript" src="js/controllers/questionController.js" ></script>
    <script type="text/javascript" src="js/controllers/settingController.js" ></script>
    <script type="text/javascript" src="js/controllers/diagnosisController.js" ></script>
    <script type="text/javascript" src="js/controllers/actionSuggestionController.js" ></script>
	<script type="text/javascript" src="js/controllers/syndromController.js" ></script>
	<script type="text/javascript" src="js/controllers/runController.js" ></script>
	<script type="text/javascript" src="js/controllers/loginController.js" ></script>
</body>