
<!DOCTYPE html>
<html lang="en" ng-app="pocketdocApp">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

	<link rel="icon" href="images/favicon.ico" type="image/x-icon" />

	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
	<link rel="stylesheet" href="css/design.css">

	<script src="bower_components/underscore/underscore-min.js"></script>

	<!-- Angular Dependencies -->
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-animate/angular-animate.min.js"></script>
	<script src="bower_components/angular-route/angular-route.min.js"></script>
	<script src="bower_components/angular-aria/angular-aria.min.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
	<script src="bower_components/angular-resource/angular-resource.min.js"></script>
	<script src="bower_components/angular-translate/angular-translate.min.js"></script>
	<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
	<script src="bower_components/angular-messages/angular-messages.min.js"></script>

	<!-- Angular Material Dependencies -->
	<script src="bower_components/angular-material/angular-material.min.js"></script>

	<!-- jQuery -->
	<script src="bower_components/jquery/dist/jquery.min.js"></script>

	<!--<script src="js/communication.js"></script>-->
	<script src="js/data.js"></script>
	<script src="js/simulator.js"></script>
	<script src="js/controller.js"></script>
	<script src="js/factories.js"></script>
	<script src="js/services.js"></script>
	<script src="js/app.js"></script>

</head>

<body layout="column" ng-controller="HeaderController">
  	<div id="header">
		<md-toolbar>
			<div id="headerbar" class="md-toolbar-tools">
				<md-button class="md-icon-button white" aria-label="{{ 'header_menu' | translate }}" ng-click="goToMain()" ng-show="location.url() != '/'">
					<md-icon md-svg-icon="images/icons/back.svg" class="s36"></md-icon>
				</md-button>

				<md-button class="md-icon-button white" aria-label="{{ 'header_back' | translate }}" ng-click="openMenu()" ng-show="location.url() === '/'">
					<md-icon md-svg-icon="images/icons/menu.svg" class="s36"></md-icon>
				</md-button>

				<span flex></span>
				<h2>{{ 'common_appname' | translate }}</h2>
				<span flex></span>

				<md-button class="md-icon-button white" aria-label="{{ 'header_settings' | translate }}" ng-click="showLoginDialog()" ng-show="location.url() == '/'">
					<md-icon md-svg-icon="images/icons/settings.svg" class="s36"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
	</div>

	<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" layout="column">
		<md-toolbar class="md-theme-light">
			<div class="md-toolbar-tools">
				
				<md-button class="md-icon-button white" aria-label="{{ 'header_close' | translate }}" ng-click="close()">
					<md-icon md-svg-icon="images/icons/close.svg" class="s36"></md-icon>
				</md-button>
				
				<span flex></span>
				<h1>{{ 'header_furtherInformation' | translate }}</h1>
			
			</div>
		</md-toolbar>
		<md-content layout-padding flex layout="column" layout-align="begin center">

			<md-button ng-click="showAbout()" class="md-primary">{{ 'header_about' | translate }}</md-button>

			<md-button ng-click="showTerms()" class="md-primary">{{ 'header_terms' | translate }}</md-button>

			<div layout="row" layout-align="center center" ng-hide="loggedIn">
				<md-button class="md-icon-button" ng-repeat="language in languages" aria-label="{{language.nativeName}}" ng-click="changeLanguage( language.locale )" ng-class="{'md-primary md-raised': lang == language.locale }">
					<md-icon md-svg-icon="images/icons/{{ language.locale }}.svg" class="s36"></md-icon>
				</md-button>
			</div>

			<md-button ng-click="resetForDemo()" class="md-primary">{{ 'header_reset' | translate }}</md-button>

		</md-content>
	</md-sidenav>

	<ng-view id="app" layout="column" flex ng-class="{'mainPage' : location.url() === '/' }"></ng-view>

</body>
</html>

